[flake8]
# Definir o limite máximo de caracteres por linha
max-line-length = 95

# Ignorar regras específicas
ignore = E203, E266, E501, W503

# Excluir determinados diretórios e arquivos
exclude = 
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
    .venv
